<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DYMO.Label" version="8.5.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Debug" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net461" />
  <package id="Serilog" version="2.12.0" targetFramework="net461" />
  <package id="Serilog.Extensions.Logging" version="3.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="7.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net461" />
</packages>